.background
{
    min-height: 100vh;
    display: flex;
    width: 90%;
    max-width: 1000px;
    min-width: 380px;
    margin: auto;
    background: #9fc4c4;
}

.background pag_content
{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(204, 248, 198);
    margin-top: 80px;
    word-wrap: normal;
}

.background pag_content h1
{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 5px;
}

.background pag_content h2
{
    margin-bottom: 5px;
    margin-right: 12px;
    margin-left: 30px;
    font-size: 28px;
}

.background pag_content h3
{
    margin-bottom: 5px;
    margin-left: 46px;
    margin-right: 12px;
    font-size: 24px;
}

.background pag_content p
{
    margin-left: 30px;
    margin-right: 12px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 28px;
}

.background pag_content p a
{
    color: rgb(72, 126, 63);
}

.background pag_content p a:hover
{
    color: rgb(54, 196, 36);
}
.background pag_content picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background pag_content p .hi
{
    margin-right: 0px;
    margin-left: 0px;
}

a:link, a:visited, a:active 
{
    text-decoration:none;
}

.finalth
{
    padding-bottom: 30px;
}

.finalth_img
{
    padding-bottom: 60px;
}

.finalpg
{
    padding-bottom: 60px;
}

.finalpg_img
{
    margin-bottom: 120px;
}

.finalpart_img
{
    margin-bottom: 32px;
}

.sub_tittle
{
    padding-left: 16px;
}

.sub_sub_tittle
{
    padding-left: 32px;
}

.bold
{
    font-family: 'Oxygen', sans-serif;
}

.Hi
{
    text-align: center;
}

.final_important_content
{
    padding-bottom: 40px;
}

.img_sep
{
    padding-left: 32px;
}

.text_img_sep
{
    padding-bottom: 60px;
}

.small
{
    max-width: 240px;
    transform: scale(0.2);
}

.up
{
    margin-left: -300px;
    margin-top: -140px;
}

.letter_1 
{
    font-family: 'Roboto', sans-serif;
}

.letter_2 
{
    font-family: 'Ubuntu', sans-serif;
}

.letter_3 
{
    font-family: 'Oxygen', sans-serif;
}

@media screen and (max-width: 411px) 
{
    .img_sep_much
    {
        padding-left: 0px;
    }
}

@media screen and (max-width: 750px)
{
    .background
    {
        width: 100%;
        background: #ffffff00;
    }
}
