*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #386969 #53aad3;
}

* ::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #53aad3;
}

* ::-webkit-scrollbar-thumb
{
    background-color: #386969;
}

* ::-webkit-scrollbar-thumb:hover
{
    background-color: #4b8f8f;
}

* ::-webkit-scrollbar-corner
{
    background-color: #53aad3;
}


body
{
    background: rgba(159, 196, 196, 0.5);
}

header
{
    height: 80px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #5d9b9b;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav 
{
    height: inherit;
    display: flex;
    width: 90%;
    max-width: 1000px;
    min-width: 380px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

nav a
{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 33px 25px 30px;
}

nav a:hover
{
    background: #6BB2B2;
}

nav a span
{
    margin-right: 5px;
}

.logo
{
    height: 80px;
}

.logo img
{
    height: inherit;
    vertical-align: top;
}

.icon-menu
{
    display: none;
    color: #fff;
    font-size: 16px;
    padding: 23.5px 20px;
}

.icon-menu:hover
{
    cursor: pointer;
}

@media screen and (max-width: 1019px)
{
    .icon-menu
    {
        display: block;
    }

    .menu
    {
        overflow: hidden;
        position: fixed;
        top: 80px;
        background: #5ea7a7;
        left: -100%;
        height: 100%;
        transition: 1s;
    }

    .menu a
    {
        display: inherit;
        border-bottom: 1px solid #fff;
    }
}